version: "3.3"
name: 'ssssssssF'
networks:
  backend:
    driver: bridge
services:
  frontend:
    container_name: frontend
    env_file:
      - .env
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8080:80